<div class="card">
  <div class="card-header bordered">
    <div class="header-block">
      <h3 class="title">Добавить категорию</h3>
    </div>
  </div>
  <div class="card-block">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="form-group"
      [ngClass]="{'has-error':name.invalid&&name.touched}">
        <label class="control-label" for="name">Введите название</label>

        <input type="text" id="name" class="form-control" #name="ngModel" name="name" ngModel required>

        <span *ngIf="name.invalid&&name.touched" class="form-help-text">Enter category name!</span>

      </div>
      <div class="form-group"
      [ngClass]="{'has-error':capacity.invalid&&capacity.touched}"
      >

        <label class="control-label" for="capacity">Введите лимит</label>

        <input type="number" min="1" value="0" id="capacity" class="form-control" [ngModel]="1" #capacity="ngModel" name="capacity" ngModel required>

        <span *ngIf="capacity.invalid&&capacity.touched" class="form-help-text">Enter category value!!</span>

      </div>
      <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
  </div>
</div>
